In [2]:
#importing neccesary libraries
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [3]:
#loading the data
file_path = ('D:\project\house_price_prediction\data\\train.csv')
house_data = pd.read_csv(file_path)

In [4]:
#basic data exploration
house_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
house_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
house_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
#house_data = house_data.dropna(axis=0)
print(house_data)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1460 rows x 81 columns]

In [8]:
#let us select target and features
Y = house_data.SalePrice

# Selecting data corresponding to features in feature_names
feature_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = house_data[feature_columns]

In [9]:
#reviewing the data
X.describe()

X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [10]:
#fitting the model
data_model = DecisionTreeRegressor(random_state=1)

data_model.fit(X,Y)

DecisionTreeRegressor(random_state=1)

In [11]:
predictions = data_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [12]:
print("First in-sample predictions:", data_model.predict(X.head()))
print("Actual target values for those homes:", Y.head().tolist())

First in-sample predictions: [208500. 181500. 223500. 140000. 250000.]
Actual target values for those homes: [208500, 181500, 223500, 140000, 250000]

In [13]:
train_X, val_X, train_Y, val_Y = train_test_split(X,Y,random_state=1)

In [14]:
val_predictions = data_model.predict(val_X)
print(val_predictions)

[231500. 179500. 122000.  84500. 142000. 325624. 285000. 147576. 195000.
 275000. 175000.  61000. 174000. 385000. 230000.  87000. 125000.  98600.
 260000. 143000. 124000. 122500. 236500. 337500.  76000. 187000. 128000.
 179000. 485000. 122500. 106000. 118000. 127000.  80000. 153000. 360000.
 132000.  85500. 262280. 112000. 131000. 139000.  87000. 135000. 181000.
 163500. 116900. 159895. 244600. 294000.  97000. 295000. 120500. 239500.
 194000. 115000. 119500. 180000. 118000. 178000. 167000. 267000.  82000.
 133900. 167000. 132500. 135000. 248000. 160000. 144500. 200500. 113000.
 354000. 164000. 170000. 224000. 163900. 160000. 466500. 172500. 193500.
 133000. 137000. 167500. 196500. 146000. 159500. 158000. 189000. 172500.
 194201. 181000. 115000. 101800. 100000. 139000. 115000. 139000. 156000.
 158000. 172000. 138000. 125500. 123000. 134500. 163000. 169990. 140000.
 140000. 325000. 157500. 225000. 107000. 185500. 239900. 163990. 201000.
 127000. 172500. 228000. 117000. 232600. 403000. 169500. 151400. 180000.
 370878.  55993. 207500. 224500. 280000.  82000. 137000. 130500.  73000.
 217000. 625000. 367294. 230000. 142000. 115000. 272000. 176500. 234000.
  40000. 213500. 126000. 187100. 200000. 117500. 176000. 174000.  97000.
 169000. 154000. 361919.  85000. 134000.  96500. 127000.  60000. 108480.
 151000. 135000.  99500. 124000. 177500. 144000. 119000. 107500. 254900.
 180500. 222000. 271000. 181000. 140000. 158000. 204750. 135000. 161500.
 128500. 179540. 143000. 147000. 280000. 131500. 253293. 317000. 210000.
 120000. 110000. 127000. 106000. 172500. 166000. 258000. 213000. 150000.
 158500.  82500. 212000. 238000. 158000. 178000. 328900. 110000. 185000.
 320000. 315000. 228950. 180000. 117000. 176000. 111250. 297000. 266000.
 130000.  93200. 186700.  91000. 745000.  62383. 172500. 170000. 119000.
 129900. 210000. 173000. 164500. 170000. 125500. 183000. 103000. 141500.
 315500. 118911. 290000. 119000. 104900. 348000. 374000. 200100. 132250.
 161500. 131500. 104000. 132500. 133000. 170000. 180000. 130000. 125000.
 186500. 171500. 100000. 114500. 173000.  86000. 320000. 133000. 220000.
 137900. 224900. 153500. 115000. 207500. 113000. 178400. 140000.  83000.
 197000. 187500.  81000.  93500. 197500.  93000. 106000. 144000. 220000.
 144900. 139000. 132000. 149000. 153500. 263435. 205000. 132500. 103200.
 249700.  64500.  83000. 339750. 145900. 106250. 164990. 228500. 193000.
 244000. 159950. 119000. 160000. 147000. 134450. 174000. 144000. 190000.
 160000. 175000. 135000. 176000. 168500. 139000. 102776. 221500. 148500.
  55000. 281000. 179900. 182900. 217500. 195000. 154000. 124900. 228000.
 125000. 438780. 160200. 271000. 113000. 103600. 119500. 275000. 250000.
 306000. 168000. 136905. 135875. 107000. 341000. 176000. 224900. 289000.
  79900. 274000. 109900. 175000. 166000. 151000. 264132.  79500. 241000.
 141000. 377426. 132000. 141000. 136500. 205950. 157000.  93000. 309000.
 187500. 178000. 125000. 232000. 135000.]

In [15]:
#calculating MAE 
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_Y, val_predictions)

print(val_mae)

31.923287671232877

In [16]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

scores = {5: 35044.51299744237, 25: 29016.41319191076, 50: 27405.930473214907, 100: 27282.50803885739, 250: 27893.822225701646, 500: 29454.18598068598}

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = 100

In [17]:
# Fill in argument to make optimal size and uncomment
final_model = DecisionTreeRegressor(max_leaf_nodes = best_tree_size,random_state = 1)